@media screen and (max-width: 1923px) {
  body {
    background-color: rgb(180, 186, 201);
    font-family: "Monserrat";
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* overflow: hidden; */
  }
  #intro-screen {
    /* margin: 0 auto; */
    width: 300px;
  }
  #inGame-container {
    width: 100%;
  }
  .neopoints {
    width: 30px;
    height: 30px;
    background-image: url("../Neopets-Doughnutfruits/neopoints.webp");
    background-size: contain;
    position: absolute;
    bottom: 488px;
    left: 270px;
  }
  .points {
    font-family: "Montserrat";
    position: absolute;
    left: 240px;
    bottom: 492px;
    font-size: 17px;
    color: rgb(251, 234, 3);
    background-color: rgba(0, 0, 0, 0.411);
  }
  .h-score {
    font-family: "Montserrat";
    position: absolute;
    left: 5px;
    bottom: 495px;
    font-size: 16px;
    color: rgb(248, 249, 249);
    font-weight: 800;
    background-color: rgba(0, 0, 0, 0.246);
  }
  .intro-image {
    width: 300px;
    height: 515px;
    position: relative;
  }
  .neo-title {
    width: 300px;
  }
  .high-score {
    font-size: 12px;
    font-family: "Montserrat";
    background-image: linear-gradient(
      45deg,
      rgba(98, 0, 255, 0.815),
      rgba(251, 206, 6, 0.995)
    );
    background-color: rgb(180, 58, 180);
    position: absolute;
    bottom: 17px;
    /* right: 1px; */
    padding: 5px 27px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(248, 251, 248);
    transition: all 0.8s;
  }
  .start-game-btn {
    font-size: 10px;
    font-family: "Montserrat";
    background-image: linear-gradient(
      45deg,
      rgba(251, 206, 6, 0.995),
      rgba(98, 0, 255, 0.815)
    );
    position: absolute;
    bottom: 17px;
    left: 1px;
    padding: 6px 37px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(244, 245, 244);
    transition: all 0.8s;
  }
  .title {
    width: 180px;
    bottom: 415px;
    position: absolute;
    border: 8px solid rgb(142, 62, 62);
    border-radius: 8px;
    right: 70px;
    box-shadow: 5px 4px 5px 8px rgba(5, 5, 5, 0.809);
    background-color: rgb(174, 162, 184);
    background-image: linear-gradient(
      45deg,
      rgb(252, 252, 252),
      rgb(63, 157, 152)
    );
  }
  .left-btn {
    width: 45px;
    position: absolute;
    bottom: 5px;

    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.227);
    padding: 1px 12px;
  }
  .right-btn {
    cursor: pointer;
    position: absolute;
    width: 45px;
    right: 35px;
    bottom: 5px;
    padding: 1px 12px;
    background-color: rgba(255, 255, 255, 0.227);
  }
  .score-title {
    top: -120px;
  }
  #score-screen {
    position: relative;
    margin-top: 100px;
    background-image: url("../Neopets-Doughnutfruits/neopetsScore.png");
    background-image: linear-gradient(
        45deg,
        rgba(98, 0, 255, 0.815),
        rgba(251, 206, 6, 0.995)
      ),
      url("../Neopets-Doughnutfruits/neopetsScore.png");

    background-size: contain;

    width: 300px;
    height: 515px;
    border: 2px solid black;
    display: none;
    position: relative;
  }
  h1 {
    font-size: 38px;
    font-family: "Montserrat";
    color: rgb(254, 252, 252);
    text-align: center;
    padding-top: 80px;
  }
  .tb-points {
    color: gold;
    font-family: "Montserrat";
    text-align: center;
    font-size: 42px;
    position: absolute;
    bottom: 230px;
    right: 130px;
  }
  .tb-header {
    padding-right: 50px;
    text-align: center;
  }
  .tb-name {
    color: gold;
    font-family: "Montserrat";
  }
  .score-screen-score {
    position: absolute;
    left: 75px;
    bottom: 280px;
  }
  /* LOSING SCREEN */
  #game-over {
    display: none;
    /* position: relative; */
    /* width: 57%; */

    width: 80%;

    max-width: 300px;
  }
  .cry {
    width: 300px;
    height: 515px;
    border-bottom: 2px solid black;
    position: relative;
  }
  .finished {
    width: 300px;
    position: absolute;
    text-align: center;
    background-color: rgba(215, 29, 29, 0.969);
    padding: 16px;
    border-radius: 8px;
    bottom: 420px;
    font-family: "Montserrat";
  }
  .back-menu {
    width: 300px;
    padding: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: 3px solid;
    cursor: pointer;
    background-image: linear-gradient(
      45deg,
      rgba(251, 206, 6, 0.995),
      rgba(98, 0, 255, 0.815)
    );
    font-family: "Montserrat";
    transition: all 0.5s;
  }
  .back-menu:hover {
    background-image: linear-gradient(
      45deg,
      rgba(98, 0, 255, 0.815),
      rgba(251, 206, 6, 0.995)
    );
    background-color: gold;
    color: rgb(255, 255, 255);
    /* font-size: 24px;  */
  }

  .final-score {
    letter-spacing: 8px;
    font-size: 40px;
    position: absolute;
    left: 45px;
    /* text-align: center; */
    background-color: rgba(187, 196, 188, 0.086);
    padding: 20px;
    border-radius: 8px;
    bottom: 310px;
    /* padding-right: 60px; */
    color: rgb(255, 255, 255);
    font-family: "Montserrat";
  }
  .final-score-num {
    font-size: 48px;
    font-weight: 800;
    position: absolute;
    left: 102px;
    padding: 20px;
    border-radius: 8px;
    bottom: 250px;

    color: rgb(71, 255, 4);
    font-family: "Montserrat";
  }
  /*  */

  .back-btn {
    font-size: 18px;
    background-color: rgb(226, 161, 41);
    background-image: linear-gradient(
      45deg,
      rgba(251, 206, 6, 0.995),
      rgba(98, 0, 255, 0.815)
    );
    font-family: "Montserrat";
    position: absolute;
    bottom: 20px;

    padding: 5px 30px;
    left: 90px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid rgb(255, 255, 255);
    transition: all 0.5s;
  }
  .back-btn:hover {
    background-image: linear-gradient(
      45deg,
      rgba(98, 0, 255, 0.815),
      rgba(251, 206, 6, 0.995)
    );
    background-color: gold;
    color: rgb(255, 255, 255);
    /* font-size: 24px;  */
  }
  .score-title {
    position: absolute;
    /* top: -152px; */
  }
}
